.todolist{
    background-color: var(--light1);
    
    border-radius: .5rem;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.25);

    overflow: hidden;

    flex-grow: 1;
    
    position: relative;
}