.todopage{
    
    min-height: 70%;
    width: min(600px,100%);


    gap: 1.5rem;

    font-family: var(--minor-font);
    font-weight: 500;

    
        font-family: var(--minor-font);
        font-size: larger;

        

        a{
            font-family: var(--minor-font);
            color: white;
            font-size: larger;

            text-decoration: underline;
            cursor: pointer;

            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;

        }
    
}